@using System.Web.Optimization
<!DOCTYPE html>
@{
    string title = "/r/ChampionMains Flairs";
}
@functions
{
    MvcHtmlString NoEscape(string s)
    {
        return new MvcHtmlString(s);
    }
}
<html lang="en">
<head>
    <title>@(Page.Title ?? "/r/ChampionMains Flairs")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Bundles/dialogPolyfill")
    @Styles.Render("~/Content/css/mdlStyles.scss")

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/content/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/content/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/content/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/content/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/content/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/content/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/content/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/icons/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/content/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- scripts -->
    @Scripts.Render("~/content/js/ga.js")
    @Scripts.Render("~/Bundles/polyfills")
    @if (Page.HasVue != null)
    { @Scripts.Render("~/Bundles/vue") }

    @RenderSection("head", false)
</head>
<body class="mdlext-dark-color-theme mdl-color--grey-900">
    <div class="main-layout mdl-layout mdl-js-layout">
        <div id="background-canvas">
            <div class="left" :style="{ 'background-image': 'url(https://cdn.communitydragon.org/latest/champion/' +
                 backgroundState.championId + '/splash-art/centered/skin/' + backgroundState.skinId + ')' }"></div>
            <div class="right" :style="{ 'background-image': 'url(https://cdn.communitydragon.org/latest/champion/' +
                 backgroundState.championId + '/splash-art/centered/skin/' + backgroundState.skinId + ')' }"></div>
        </div>
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">@title</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="@Url.Action("index", "profile")">Old UI</a>
                    <a class="mdl-navigation__link" target="_blank"
                       href="https://championmains.github.io/Pyrobot/">About</a>
                    @using (Html.BeginForm("logout", "Login"))
                    {
                        @Html.AntiForgeryToken()
                        <button class="anchor mdl-navigation__link" type="submit">Log Out</button>
                    }
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout__drawer--wide">
            <span class="mdl-layout-title">@title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="@Url.Action("index", "profile")">Old UI</a>
                <a class="mdl-navigation__link" target="_blank"
                   href="https://championmains.github.io/Pyrobot/">About</a>
                @using (Html.BeginForm("logout", "Login"))
                {
                    @Html.AntiForgeryToken()
                    <button class="anchor mdl-navigation__link" type="submit">Log Out</button>
                }
            </nav>
        </div>
        <div class="demo-overlay mdl-layout__content">
            @RenderBody()
        </div>
    </div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js" type="text/javascript"></script>
    @* @Scripts.Render not used b/c cannot access expanded bundle. *@
    @Scripts.Render("~/Bundles/npmScripts")
    @RenderSection("tail", false)
</body>
</html>
