@using ChampionMains.Pyrobot.Models

@{
    Layout = "~/Views/_newMaster.cshtml";
    //Page.Title = "Profile";
    //    Page.Angular = "Profile";
    ViewBag.Title = "newIndex";
    Page.HasVue = true;
}

@section head {
    <link href="@Url.Content("~/content/css/_vueChampBadge.scss")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/css/_vueRankBadge.scss")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/css/newProfile.scss")" rel="stylesheet" type="text/css" />
    <link href="/profile/api/flaircss" rel="stylesheet" type="text/css" />
}

@section tail {
    @{
        Html.RenderPartial("_vueChampBadge");
        Html.RenderPartial("_vueRankBadge");
        Html.RenderPartial("_vueFlairDisplay");
        Html.RenderPartial("_vueChampIcon");
    }

    <div id="dialogApp">
        <dialog class="mdl-dialog" id="modal-remove-summoner">
            <h4 class="mdl-dialog__title">Remove Summoner?</h4>
            <div class="mdl-dialog__content">
                <p v-if="summonerToRemove">
                    {{ summonerToRemove.name }} ({{ summonerToRemove.region }}) will be removed.
                </p>
                <p>
                    You can re-add this summoner later.
                </p>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button mdl-js-button" @@click="closeDialog($event.target)">Cancel</button>
                <button type="button" class="mdl-button mdl-js-button" @@click="removeSummoner($event)">Remove</button>
            </div>
        </dialog>

        <dialog class="mdl-dialog" id="modal-add-summoner">
            <div class="clipper">
                <h4 class="mdl-dialog__title">Add Summoner</h4>
                <div class="sliding-pages" :page="addSummonerData.page">
                    <div class="mdl-dialog__content">
                        <p>
                            Enter your summoner&#39;s name and region.
                        </p>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="summonerName" autocomplete="off" v-model="addSummonerData.summonerModel.summonerName">
                            <label class="mdl-textfield__label" for="summonerName">Summoner Name</label>
                            <span class="mdl-textfield__error">{{ addSummonerData.summonerInfoError }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                            <input id="region" type="text" value="" class="mdl-textfield__input" readonly v-model.lazy="addSummonerData.summonerModel.region">
                            <input type="hidden" value="" name="region">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                            <label for="region" class="mdl-textfield__label">Region</label>
                            <ul for="region" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                @foreach (var r in SummonerModel.AllRegions)
                                {
                                    <li class="mdl-menu__item" data-val="@r">@r</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-dialog__content">
                        <p>
                            Confirm you own this summoner by changing your <em>summoner icon</em> to the following:
                        </p>
                        <img class="fade summonerIcon" :class="{ 'fade-hide': addSummonerData.profileIcon === null }"
                             :src="'https://cdn.communitydragon.org/latest/profile-icon/' + (addSummonerData.profileIcon || 0)"/>
                        <p class="mdl-color-text--red" style="margin: 16px 0 0 0;">{{ addSummonerData.summonerValidError }}</p>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            @@click="summonerNextStep(addSummonerData.summonerModel, $event.target)" :disabled="addSummonerDisableNext">Next</button>
                    <button type="button" class="mdl-button mdl-js-button" @@click="summonerCancel($event.target)">Cancel</button>
                </div>
            </div>
        </dialog>
        
        <dialog class="mdl-dialog" id="modal-edit-subredditflair">
            <h4 class="mdl-dialog__title">Edit Flair</h4>
            <div class="mdl-dialog__content mdl-typography--text-center">
                <flair-display v-if="subredditFlairData.set" :subreddit-data="subredditFlairData.subredditData"
                        :rank-data="subredditFlairData.rankData" :champ-data="subredditFlairData.champData"></flair-display>
            </div>
            <div class="mdl-dialog__content">
                <label v-if="!subredditFlairData.set || subredditFlairData.subredditData.rankEnabled" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-rank-emblem">
                    <input type="checkbox" id="checkbox-rank-emblem" class="mdl-checkbox__input" v-model="subredditFlairData.subredditData.flair.rankEnabled">
                    <span class="mdl-checkbox__label">Rank Emblem</span>
                </label>
                <label v-if="!subredditFlairData.set || subredditFlairData.subredditData.championMasteryEnabled" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-mastery-emblem">
                    <input type="checkbox" id="checkbox-mastery-emblem" class="mdl-checkbox__input" v-model="subredditFlairData.subredditData.flair.championMasteryEnabled">
                    <span class="mdl-checkbox__label">Mastery Emblem</span>
                </label>
                <label v-if="!subredditFlairData.set || subredditFlairData.subredditData.championMasteryTextEnabled" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-mastery-points">
                    <input type="checkbox" id="checkbox-mastery-points" class="mdl-checkbox__input" v-model="subredditFlairData.subredditData.flair.championMasteryTextEnabled">
                    <span class="mdl-checkbox__label">Mastery Points</span>
                </label>
                <label v-if="!subredditFlairData.set || subredditFlairData.subredditData.prestigeEnabled" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-prestige">
                    <input type="checkbox" id="checkbox-prestige" class="mdl-checkbox__input" v-model="subredditFlairData.subredditData.flair.prestigeEnabled">
                    <span class="mdl-checkbox__label">Prestige</span>
                </label>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="flair-text" v-model="subredditFlairData.subredditData.flair.flairText">
                    <label class="mdl-textfield__label" for="flair-text">Flair Text</label>
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button mdl-js-button" @@click="saveSubredditFlair($event)">Save</button>
                <button type="button" class="mdl-button mdl-js-button" @@click="closeDialog($event.target)">Cancel</button>
            </div>
        </dialog>
    </div>

    <script src="@Url.Content("~/content/js/vueProfile.js")" type="text/javascript"></script>
    <script type="text/javascript">
        fitty('.username', {
            minSize: 24,
            maxSize: 56
        });
    </script>
}

    <div id="app">
        <div class="mdl-grid">
            <div class="userpane-spacer mdl-cell mdl-cell--12-col mdl-cell--hide-desktop"></div>
            <div class="userpane mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-cell--1-offset-tablet mdl-cell--5-col-desktop mdl-cell--1-offset-desktop mdl-typography--text-center">
                <div class="mdl-grid mdl-grid--no-spacing" style="margin: 0 16px;">
                    <div class="mdl-cell mdl-cell--middle mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                        <rank-badge :rank-data="topRankedSummoners[0]"></rank-badge>
                    </div>
                    <div class="mdl-cell mdl-cell--middle mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h3 class="username">/u/@User.Identity.Name</h3>
                    </div>
                </div>
                <div>
                    <div style="width: calc(75px + 2.4vw); font-size: calc(7.5px + 0.24vw); display: inline-block;">
                        <champ-badge :champ-data="sortedChampions[1]"></champ-badge>
                    </div>
                    <div style="width: calc(80px + 2.7vw); font-size: calc(8px + 0.27vw); display: inline-block;">
                        <champ-badge :champ-data="sortedChampions[0]"></champ-badge>
                    </div>
                    <div style="width: calc(70px + 2.1vw); font-size: calc(7px + 0.21vw); display: inline-block;">
                        <champ-badge :champ-data="sortedChampions[2]"></champ-badge>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-phone mdl-cell--hide-tablet" style="height: 10vw;"></div>
            <div class="content mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--1-offset-tablet mdl-cell--top">
                <div>
                    <h3>
                        Summoners
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="margin-left: 1em;" @@click="promptAddSummoner()">
                            Add
                        </button>
                    </h3>
                </div>
                <div class="listRow summonerListRow" v-for="summoner in topMasterySummoners" :key="summoner.id" v-cloak>
                    <div class="badge">
                        <rank-badge :rank-data="summoner" show-summoner="true"></rank-badge>
                    </div>
                    <div class="info">
                        <div class="name">
                            <span class="mdl-chip mdl-chip--small">
                                <span v-text="summoner.region" class="mdl-chip__text"></span>
                            </span>
                            <span class="summonerName" v-text="summoner.name"></span>
                        </div>
                        <div class="points">{{ summoner.totalPoints | separator }}</div>
                    </div>
                    <div class="controls">
                        <button class="mdl-button mdl-js-button mdl-button--primary" :disabled="isSummonerUpdating(summoner)" @@click="promptRemoveSummoner(summoner, $event)">
                            Remove
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary" :disabled="isSummonerUpdating(summoner)" @@click="updateSummoner(summoner, $event)">
                            Update
                        </button>
                        <div class="updateTime mdl-color-text--grey-600" v-if="summoner.lastUpdate" :title="summoner.lastUpdate">
                            Updated {{ new Date(summoner.lastUpdate) | moment("from", now) }}
                        </div>
                    </div>
                </div>
                <div class="listRow summonerListRow" v-if="topMasterySummoners.length == 0">
                    <div class="note">Click "Add" to link a summoner.</div>
                </div>
            </div>
            <div class="content mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--1-offset-tablet">
                <h3>Subreddits</h3>
                <div class="listRow subredditListRow" v-for="subreddit in topMasterySubreddits" :key="subreddit.id" v-cloak>
                    <div class="subredditLink">
                        <a href="#" :href="'http://old.reddit.com/r/' + subreddit.name" target="_blank">
                            <champ-icon :champ-data="profileState.champions[subreddit.championId]"></champ-icon>
                            <span>/r/{{subreddit.name}}</span>
                        </a>
                    </div>
                    <div class="flairDisplay">
                        <flair-display :subreddit-data="subreddit" :rank-data="topRankedSummoners[0]" :champ-data="profileState.champions[subreddit.championId]"></flair-display>
                    </div>
                    <div class="controls">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary"
                                @@click="editSubredditFlair(subreddit, topRankedSummoners[0], profileState.champions[subreddit.championId], $event)">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
